html body {
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    position: absolute;
    user-select: none;
    -webkit-user-select: none;

    font-size: 30px;
    font-family: fantasy;
    font-weight: 200;

    color: black;
}

background {
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%; 
    min-height: 100%;

    box-sizing: border-box;
    text-align: center;


    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,125,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,125,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(0,0,125,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,125,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,125,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(0,0,125,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
}


wheel {
    display: block;
    width: 500px;
    height: 500px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    border-radius: 250px;

    background-color: rgb(50,50,50);
    z-index: 1;
}

wheel-shadow {
    display: block;
    width: 500px;
    height: 500px;

    position: absolute;
    top: 45px;
    right: 7px;
    margin: auto;

    border-radius: 250px;
    box-shadow: 0 0 100px 50px rgba(0,0,0,0.75);
    z-index: 0;
}

controls {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 250px;
    height: 250px;
    border-radius: 125px;

    border: 10px solid rgb(50,50,50);
    box-sizing: border-box;

    background-color: white;
    z-index: 3;
}

game-title-A, game-title-B {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    height: 60px;
    font-size: 30px;
    line-height: 60px;

    cursor: default;
}

game-title-A {
    -webkit-transform: rotateZ(-90deg);
    left: -20px;
}

game-title-B {
    -webkit-transform: rotateZ(90deg);
    right: -20px;
}


game-start {
    display: block;
    width: 100px;
    height: 50px;

    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    

    margin: auto;
    line-height: 50px;

    border-radius: 10px;
    cursor: pointer;

    background-color: rgb(255, 50, 50);

}

game-start:hover {
    color: white
}

game-start:active {
    transform: scale(1,0.9);
    top: 24px;
}

screen {
    display: block;
    width: 50px;
    height: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    font-size: 20px;
    line-height: 40px;

    color: white;
    background: rgb(20,20,20);
    border-radius: 5px;

    border: 5px solid rgb(50,50,50);

    cursor: default;
}

screen.hard {
    color: red;
}

hard-mode {
    display: block;
    width: 80px;
    height: 60px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;

    text-align: center
}

hard-button {
    display: block;

    width: 30px;
    height: 30px;
    margin: auto;

    border-radius: 15px;
    border: 5px solid rgb(50,50,50);
    box-sizing: border-box;
    background: red;

    cursor: pointer;
}

hard-button:hover {
    background: darkred;
}

hard-button.active {
    background: lightgreen;
}

hard-button.active:hover {
    background: green;
}

hard-button:active {
    transform: scale(1,0.95);
    margin-top: 1.5px;
}

hard-text {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;

    height: 40px;
    font-size: 12px;
    line-height: 40px;

    cursor: default;
}


circle {
    display: block;
    width: 250px;
    height: 250px;

    position: absolute;
    margin: auto;

    cursor: pointer;

    border: 10px solid rgb(50,50,50);

    box-sizing: border-box;
    z-index: 2;
}

circle.top-left {
    top: 0;
    left: 0;
    border-radius: 250px 0 0 0;
    background: rgba(228, 214, 190, 1)
}

circle.top-right {
    top: 0;
    right: 0;
    border-radius: 0 250px 0 0;
    background: rgba(174, 156, 222, 1)
}

circle.bottom-left {
    bottom: 0;
    left: 0;
    border-radius: 0 0 0 250px;
    background: rgba(180, 211, 187, 1)
}

circle.bottom-right {
    bottom: 0;
    right: 0;
    border-radius: 0 0 250px 0;
    background: rgba(208, 155, 182, 1)
}

circle.top-left:hover {
    background: rgba(169, 146, 107, 1)
}

circle.top-right:hover {
    background: rgba(81, 80, 144, 1)
}

circle.bottom-right:hover {
    background: rgba(128, 59, 59, 1)
}

circle.bottom-left:hover {
    background: rgba(61, 136, 78, 1)
}

circle.top-left:active, circle.top-left.light {
    background: rgba(255, 200, 100, 1)
}

circle.top-right:active, circle.top-right.light {
    background: rgba(36, 43, 255, 1)
}

circle.bottom-right:active, circle.bottom-left.light {
    background: rgba(245, 34, 43, 1)
}

circle.bottom-left:active, circle.bottom-right.light {
    background: rgba(25, 253, 77, 1)
}


