@import compass

$primary: wheat
$secondary: black
$bg-color: rgb(0,0,125)
$light-bg: rgba(255,255,255,0.1)
$dark-bg: rgba(255,255,255,0.3)
$border-color: rgb(60,60,60)
$font: Helvetica Neue

html
    body
        width: 100%
        height: 100%
        top: 0
        left: 0
        margin: 0
        padding: 0
        position: absolute
        @include user-select(none)
        font-size: 20px
        font-family: $font
        font-weight: 100
        color: $primary

background
    display: block
    width: 100%
    min-height: 100%
    box-sizing: border-box
    +background-image(radial-gradient(center center, $bg-color 0%, $secondary 100%))
    background-size: cover

cell 
    display: block
    position: absolute
    font-size: 3px
    padding: 0
    margin: 0
    background-size: cover
    // z-index: 1
    &.player, &.creature 
        display: block
        position: absolute
        color: white
    // &.creature:not(.dead)
    //     z-index: 3
    // &.creature.dead
    //     z-index: 2
    &.player
        // z-index: 3
        cell-content
            background-size: contain
            background-repeat: no-repeat
            background-position: center center
    playerrange 
        background: rgba(255,255,255,0.2)
        position: absolute
        top: 0
        left: 0
        border-radius: 50%
        display: block
        box-sizing: border-box
        z-index: 0

pickup-text
    display: block
    position: absolute
    font-size: 16px
    z-index: 3

healthbar, healthfill 
    display: block
    position: absolute
    height: 6px
    box-sizing: border-box
    z-index: 4

cell-overlay 
    display: block
    position: absolute
    width: 100%
    height: 100%
    top: 0
    bottom: 0
    left: 0s
    right: 0
    margin: auto
    &.revealed:not(.fogged) 
        background: transparent
    &.revealed.fogged
        background: rgba(0,0,0,0.6)
    &:not(.revealed).fogged
        background: black

cell-content
    position: absolute
    text-align: center
    width: 100%
    height: 100%
    background-size: cover
    z-index: 2
    
hud
    display: block
    position: fixed
    bottom: 20px
    left: 20px
    z-index: 5
    huditem
        display: inline-block
        margin-left: 15px

starter
    display: block
    position: fixed
    top: 20px
    left: 0
    right: 0
    width: 750px
    margin: auto
    text-align: center
    z-index: 9
    background: rgba(0,0,0,0.6)
    border: 1px solid wheat
    border-radius: 30px
    height: 95%
    overflow: scroll
    +text-shadow(-1px -1px 0 $secondary, 1px -1px 0 $secondary, -1px 1px 0 $secondary, 1px 1px 0 $secondary)
    heading
        display: block
        font-size: 46px
        cursor: default
    heading2
        display: block
        font-size: 36px
        cursor: default
    ul
        text-align: left
        li
            cursor: default
            font-size: 18px
    dismiss
        display: block
        font-size: 36px
        background: rgba(255,255,255,0.3)
        border: 1px solid wheat
        border-radius: 10px
        cursor: pointer
        padding: 5px
        width: 100px
        margin: 10px auto
        &:hover 
            background: rgba(255,255,255,0.1)
            color: white



ender
    display: block
    position: fixed
    top: 200px
    left: 0
    right: 0
    width: 450px
    margin: auto
    text-align: center
    font-size: 46px
    background: rgba(0,0,0,0.7)
    padding: 15px
    border-radius: 15px
    border: 1px solid wheat
    cursor: default
    z-index: 9
    msg
        display: block
        cursor: default
    rld
        display: block
        cursor: pointer
        font-size: 36px
        background: rgba(255,255,255,0.3)
        width: 150px
        margin: auto
        padding: 5px
        border: 1px solid wheat
        border-radius: 5px
        &:hover
            background: rgba(255,255,255,0.1)
            color: white  

