/* line 12, index.sass */
html body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 20px;
  font-family: Helvetica Neue;
  font-weight: 100;
  color: wheat;
}

/* line 26, index.sass */
background {
  display: block;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDA3ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center center, #00007d 0%, #000000 100%);
  background-image: -webkit-radial-gradient(center center, #00007d 0%, #000000 100%);
  background-image: radial-gradient(center center, #00007d 0%, #000000 100%);
  background-size: cover;
}

/* line 34, index.sass */
cell {
  display: block;
  position: absolute;
  font-size: 3px;
  padding: 0;
  margin: 0;
  background-size: cover;
}
/* line 42, index.sass */
cell.player, cell.creature {
  display: block;
  position: absolute;
  color: white;
}
/* line 52, index.sass */
cell.player cell-content {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 56, index.sass */
cell playerrange {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  z-index: 0;
}

/* line 66, index.sass */
pickup-text {
  display: block;
  position: absolute;
  font-size: 16px;
  z-index: 3;
}

/* line 72, index.sass */
healthbar, healthfill {
  display: block;
  position: absolute;
  height: 6px;
  box-sizing: border-box;
  z-index: 4;
}

/* line 79, index.sass */
cell-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0s;
  right: 0;
  margin: auto;
}
/* line 89, index.sass */
cell-overlay.revealed:not(.fogged) {
  background: transparent;
}
/* line 91, index.sass */
cell-overlay.revealed.fogged {
  background: rgba(0, 0, 0, 0.6);
}
/* line 93, index.sass */
cell-overlay:not(.revealed).fogged {
  background: black;
}

/* line 96, index.sass */
cell-content {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 2;
}

/* line 104, index.sass */
hud {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 5;
}
/* line 110, index.sass */
hud huditem {
  display: inline-block;
  margin-left: 15px;
}

/* line 114, index.sass */
starter {
  display: block;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  width: 750px;
  margin: auto;
  text-align: center;
  z-index: 9;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid wheat;
  border-radius: 30px;
  height: 95%;
  overflow: scroll;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
/* line 130, index.sass */
starter heading {
  display: block;
  font-size: 46px;
  cursor: default;
}
/* line 134, index.sass */
starter heading2 {
  display: block;
  font-size: 36px;
  cursor: default;
}
/* line 138, index.sass */
starter ul {
  text-align: left;
}
/* line 140, index.sass */
starter ul li {
  cursor: default;
  font-size: 18px;
}
/* line 143, index.sass */
starter dismiss {
  display: block;
  font-size: 36px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid wheat;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  width: 100px;
  margin: 10px auto;
}
/* line 153, index.sass */
starter dismiss:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

/* line 159, index.sass */
ender {
  display: block;
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  width: 450px;
  margin: auto;
  text-align: center;
  font-size: 46px;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 15px;
  border: 1px solid wheat;
  cursor: default;
  z-index: 9;
}
/* line 175, index.sass */
ender msg {
  display: block;
  cursor: default;
}
/* line 178, index.sass */
ender rld {
  display: block;
  cursor: pointer;
  font-size: 36px;
  background: rgba(255, 255, 255, 0.3);
  width: 150px;
  margin: auto;
  padding: 5px;
  border: 1px solid wheat;
  border-radius: 5px;
}
/* line 188, index.sass */
ender rld:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
