/* line 9, index.sass */
html body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 20px;
  font-family: Helvetica Neue;
  font-weight: 100;
  color: wheat;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

/* line 24, index.sass */
background {
  display: block;
  width: 100%;
  min-height: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDA3ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center center, #00007d 0%, #000000 100%);
  background-image: -webkit-radial-gradient(center center, #00007d 0%, #000000 100%);
  background-image: radial-gradient(center center, #00007d 0%, #000000 100%);
  background-size: cover;
}

/* line 34, index.sass */
previewer {
  display: block;
}
/* line 36, index.sass */
previewer #markdown {
  display: block;
  background: wheat;
  font-family: Helvetica Neue;
  font-weight: 200;
  font-size: 16px;
  width: 100%;
  height: 300px;
  resize: vertical;
}
/* line 45, index.sass */
previewer preview-title {
  display: block;
  width: 145px;
  font-size: 24px;
  font-weight: 400;
  margin: 20px auto;
  text-decoration: underline;
}
/* line 52, index.sass */
previewer preview {
  display: block;
  border: 1px solid wheat;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
